<div class="item">
  <div class="item__wrapper">
    <div class="item__image">
      <img [src]="product?.item?.thumbnail" alt="{{ product?.item?.title }}">
    </div>
    <div class="item__info">
      <span class="item__price">{{ product?.item?.price?.amount | currency:product?.item?.price?.currency :'symbol' :'1.0-0' }}</span>
      <span class="item__title">{{ product?.item?.title }}</span>
    </div>
    <div class="item__location">
      <span class="item__state">{{ product?.item?.state }}</span>
    </div>
  </div>
</div>
